* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    background-color: #001c37;
}

.wrapper {
    position: relative;
    left: 0;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #ddd;
    overflow: hidden;
    transition: .3s;
}

.wrapper.menuOn {
    left: -45vw;
}

h1 {
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    color: #fde428;
}

h2 {
    font-family: 'Montserrat-Bold';
    font-size: 2.2rem;
    color: #fff;
}

h3 {
    font-family: 'Montserrat-Bold';
    font-size: 1.8rem;
    color: #002e5b;
    text-transform: uppercase;
    padding-bottom: 3vh;
}

h4 {
    font-family: 'Montserrat-Bold';
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #002e5b;
}

h5 {
    font-family: 'Montserrat-Bold';
    font-size: 1rem;
    text-transform: uppercase;
    color: #002e5b;
    padding: 1vh 0;
}

img {
    width: 100%;
}

.intro {
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 1.2rem;
    color: #666;
}

.paragraph {
    font-family: 'MyriadPro-Regular', sans-serif;
    color: #000;
    padding: 3vh 0;
}

.link {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    color: #002e5b;
    cursor: pointer;
    line-height: 3rem;
}

/* TOP BAR */

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 20px 5vw 20px 5vw;
    background-color: transparent;
    transition: background-color .5s;
}

.top-bar.scroll {
    background-color: rgba(0, 028, 055, 0.6);
}

.brand {
    flex-basis: 30%;
    padding-left: 5vw;
}

.brand span {
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    color: #fff;
    position: relative;
    top: -10px;
}

nav {
    flex-grow: 1;
    text-align: right;
    /* padding-right: 10%; */
}

.hamburger {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 35px;
    border-style: none;
    background-color: transparent;
    position: fixed;
    top: 40px;
    right: 40px;
    border-top: 5px solid #fff;
    transition: all 0.3s ease;
    outline: none;
}

.hamburger.active {
    transform: rotate(-45deg);
    transform-origin: right;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 10px;

}

.hamburger.active::before {
    opacity: 0;
}

.hamburger::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    transition: all 0.3s ease;
}

.hamburger.active::after {
    transform: rotate(90deg) translate(-10px, 19px);
    transform-origin: right;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0px;
    right: -45vw;
    z-index: -1;
    list-style-type: none;
    transition: .3s;
}

.menu.active {
    right: 0;
}

.menu-item {
    padding: 4vh 0;
}

.menu-item a {
    font-family: 'Montserrat-Regular';
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-item a:hover {
    cursor: pointer;
    color: #fde428;
}

/* HEADER */

header {
    width: 100%;
    height: 100vh;
    background: url('../img/header-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.banner {
    flex-basis: 35%;
    min-height: 200px;
    max-height: 300px;
    height: 35vh;
    /* background-color: #ddd; */
    position: relative;
    overflow: hidden;
}

.banner-item {
    width: 75%;
    max-width: 300px;
    height: 100%;
    border-right: 8px solid #fde428;
    overflow: hidden;
    position: absolute;
    left: 42%;
    /* background-color: #bbb; */
    transform: scale(0) translateX(-50%) rotate(0deg);
    transition: left .8s 1.2s, transform .8s .4s;
}

.banner-item.active {
    transform: scale(1) translateX(-50%) rotate(360deg);
    left: 50%;
}

.banner-item::after {
    content: "";
    width: 8px;
    height: 13%;
    background-color: #fde428;
    position: absolute;
    bottom: 25%;
    left: 25%;
}

.banner-item div {
    width: 75%;
    height: 100%;
    position: absolute;
    border-top: 8px solid #fde428;
    border-bottom: 8px solid #fde428;
    border-left: 8px solid #fde428;
    /* background-color: #999; */
    right: 0;
    transition: border-left .4s 1.6s;
}

.banner-item.active div {
    border-left-color: transparent;
}

.banner-item div::before {
    content: "";
    width: 8px;
    height: 12%;
    background-color: #fde428;
    position: absolute;
    top: -8px;
    left: -8px;
}

.banner-item div::after {
    content: "";
    width: 8px;
    height: 12%;
    background-color: #fde428;
    position: absolute;
    left: -8px;
    bottom: -8px;
}

.banner-item div hgroup {
    position: absolute;
    top: 10%;
    left: 100%;
    transition: left 1.2s 1.2s;
}

.banner-item.active div hgroup {
    left: -30%;
}

.banner-item div a {
    font-family: 'Montserrat-Bold';
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fde428;
    position: absolute;
    bottom: 12%;
    left: -10%;
    opacity: 0;
    transition: opacity .8s 2s;
}

.banner-item.active div a {
    opacity: 1;
}

.pagination {
    flex-basis: 30%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MyriadPro-Regular';
    font-size: 1.2rem;
    color: #fde428;
}

.pagination span {
    padding: 0 10px;
    cursor: pointer;
}

.pagination span i {
    padding: 0 10px;
}

.pagination span:hover {
    color: #fff;
}

/* MAIN */

main {
    background-color: #fff;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
}

.about article {
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}

.about article img {
    display: block;
    width: 100%;
}

.about article:nth-child(1) div:nth-child(2) {
    padding: 8vh 0;
    background-image: linear-gradient(90deg, #fff 25%, #fde428 25%, #fde428 75%, #fff 75%);
}

.about article a {
    padding-bottom: 3vh;
}

.about article div img {
    width: 100%;
}

.about article:nth-child(2) {
    background-color: #f4f4f4;
}

.about article:nth-child(2) div img {
    background-color: #fff;
}

.about-footer {
    background-color: #002e5b;
    flex-basis: 10vh;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-footer p {
    color: #fff;
    flex-basis: 70%;
}

.about-footer button {
    display: block;
    flex-basis: 20%;
    max-width: 160px;
    padding: 10px 0;
    background-color: #fde428;
    border-style: none;
    border-radius: 2px;
    font-family: 'Montserrat-Bold';
    color: #002e5b;
}

/* SERVICES */

.services {
    padding: 3vh 5vw;
}

.services h3 {
    text-align: center;
}

.services .intro {
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: column;
}

.services-item {
    flex-basis: 30%;
    padding: 2vh 0;
}

.services-item p {
    font-family: 'MyriadPro-Regular', sans-serif;
    color: #000;
    padding: 1vh 0;
}

.services-item img {
    width: 100%;
}

/* COUNTER */

.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vh 5vw;
    background-color: #002e5b;
}

.counter div {
    flex-basis: 40%;
    padding: 2vh 2vw;
    text-align: center;
    text-transform: uppercase;
}

.counter div p:nth-child(1) {
    font-family: 'Montserrat-Regular';
    font-size: 2.5rem;
    color: #fff;

}

.counter div p:nth-child(2) {
    font-family: 'Montserrat-Regular';
    font-size: 0.8rem;
    color: #fff;
}

/* WHY BEST */

.why-best {
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
}

.why-best .video {
    padding: 8vh 0;
    background-image: linear-gradient(90deg, #fff 25%, #fde428 25%, #fde428 75%, #fff 75%);
    width: 100%;
}

/* TESTIMONIALS */

.testimonials {
    padding: 10vh 5vw;
    background-color: #002e5b;
    text-align: center;
    color: #fff;
}

.quote {
    font-size: 2.5rem;
    padding: 2vh;
}

.testimonials p {
    padding: 2vh 0;
    font-family: 'MyriadPro-Regular';
    font-size: 1.1rem;
    line-height: 1.6;
}

.testimonials p:last-child {
    display: inline;
    text-transform: uppercase;
    position: relative;
}

.testimonials p:last-child::before,
.testimonials p:last-child::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* left: -50%; */
}

.testimonials p:last-child::before {
    left: -50%;
}

.testimonials p:last-child::after {
    right: -50%;
}

/* CONTACT */

.contact {
    padding: 3vh 5vw;
}

.contact h3 {
    text-align: center;
}

.contact .intro {
    text-align: center;
}

.map-container {
    display: flex;
    flex-direction: column;
    padding: 3vh 0;
}

.map-item {
    padding: 3vh 0;
}

.map-item p {
    font-family: 'MyriadPro-Regular';
    color: #002e5b;
    margin: 20px 0;
}

.map-item img {
    margin-bottom: 3vh;
}

.map-item p i {
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    background-color: #002e5b;
}

footer p {
    color: #fff;
}

footer p span {
    color: #fde428;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin: 0 5px;
}

/* MOBILE */

@media (max-width: 768px) and (orientation: landscape) {
    header {
        padding-top: 30vh;
    }
}

@media (max-height: 639px) {
    .banner-item::after {
        display: none;
    }

    .banner-item div hgroup {
        line-height: 2.2rem;
    }
}

@media (max-height: 719px) {
    .banner-item::after {
        content: "";
        width: 8px;
        height: 8%;
        background-color: #fde428;
        position: absolute;
        bottom: 25%;
        left: 25%;
    }

    .banner-item div hgroup {
        top: 8%;
    }

}

/* TABLETS AND DESKTOP */
@media (min-width: 768px) {
    .about article {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 8vh 5vw;
    }

    .about article div {
        padding: 0 3vw;
    }

    .about article div:first-child {
        flex-basis: 70vw;
    }

    .about article div:last-child {
        flex-grow: 1;
    }

    .about article:nth-child(2) div:first-child {
        order: 1;
    }

    .services {
        padding: 10vh 5vw;
    }

    .services-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .counter div {
        flex-basis: 20%;
    }

    .why-best {
        padding: 8vh 5vw;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .why-best div {
        padding: 0 3vw;
    }

    .why-best div:first-child {
        flex-basis: 80vw;
        order: 2;
    }

    .contact {
        padding: 5vh 5vw;
    }

    .map-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .map-item {
        padding: 0 2vw;
    }

}

/* DESKTOP */
@media (min-width: 992px) {

    .brand {
        padding: 0;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 0;
        right: 0;
        z-index: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        list-style-type: none;
        transition: .3s;
    }

    .menu-item {
        padding: 0 15px;
    }

    .menu-item a {
        font-family: 'Montserrat-Regular';
        font-size: 0.9rem;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }

    header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10vh 5vw 0 5vw;
    }

    .banner {
        flex-grow: 1;

    }

    .pagination {
        flex-basis: 35%;
        order: 0;
        justify-content: flex-start;
    }

    .testimonials {
        padding: 15vh 5vw;
    }


}